#img1{
    float: left;
    width: 150px;
    height: 150px;
}

#img2{
    float: right;
    width: 150px;
    height: 150px;
}

p{
    width: 50%;
    border: 2px solid saddlebrown;
    text-align: justify;
    padding: 5px;
}