.c1{
    height: 700px;
    /* background-image: linear-gradient(red,green); */
    /* background-image: linear-gradient(to right,red,green); */
    /* background-image: linear-gradient(to top,red,green); */
    /* background-image: linear-gradient(to bottom right,red,green); */
    /* background-image: linear-gradient(150deg,red,green); */
    /* background-image: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet); */
    /* background-image: linear-gradient(to right,red 10%,orange 20%,yellow 30%,green 40%,blue 50%,indigo 60%,violet 70%); */
    /* background-image: linear-gradient(rgba(255,0,0,0.5),rgb(17, 17, 121)); */
    /* background-image: repeating-linear-gradient(rgb(234, 235, 243) 10%,orange 20%); */
    background: rgb(235,30,119);
    background: radial-gradient(circle, rgba(235,30,119,1) 34%, rgba(148,187,233,1) 100%);
}