ul{
    list-style-type: none;
    background-image: linear-gradient(90deg,rgb(233, 171, 171),rgb(171, 171, 241));
    text-align: center;
}

li{
    padding: 10px;
    display: inline-block;
}

li:hover{
    background-color: coral;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: black;
}