/* Question 2 */
/* .box{
    height: 5rem;
    width: 5rem;
    border: 1px solid black;
    margin: 5px;text-align: center;
    background-color: aquamarine;
} */

/* Question 4 */
.content{
    color: red;
}
.newClass{
    background-color: greenyellow;
}